<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
   <!-- A a =new A()实例化对象 -->
  <bean id="a" class="com.et.lession01.A">
  </bean>

 <bean id="b" class="com.et.lession01.A">
 </bean>
 
 <bean class="com.et.lession01.B">
 </bean>
	 <bean class="com.et.lession01.B">
 </bean>
</beans>
