<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-4.2.xsd
           ">
   <!-- 使用外部属性资源文件 
  	 使用bean来读取资源文件 定义在获取连接之前
  	  <bean id="pf" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
  		<property name="location" value="classpath:/com/et/lession02/properties/mysql.properties"></property>
 	 </bean>
   -->
 
  <context:property-placeholder location="classpath:/com/et/lession02/properties/mysql.properties"/>
  <!-- 获取数据库连接
  username是关键字默认读取获取操作系统的的用户名Administrator
   -->
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
 
 	<property name="url" value="${url}"></property>
 	<property name="username" value="${username1}"></property>
    <property name="password" value="${password2}"></property>
    <property name="driverClassName" value="${driverClass}"></property>
 </bean>
 <!-- 封装一些操作的方法 -->
 <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
 	 <property name="dataSource" ref="dataSource"></property>
 </bean>
 

</beans>
